# IBM Applied Data Science Capstone
### Segmenting and Clustering Neighborhoods in Toronto
<br>
In this assignment, you will be required to explore, segment, and cluster the neighborhoods in the city of Toronto.

In [18]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

import requests 

#from bs4 import BeautifulSoup as BS

print('Libraries imported.')

url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
data_url=requests.get(url).text
#parse data from the html 
df, = pd.read_html(data_url, match="Postal code", skiprows=1)
#create columns
columns=["PostalCode", "Borough", "Neighborhood"]

df.columns=columns
df.head()

Libraries imported.

  PostalCode           Borough                       Neighborhood
0        M2A      Not assigned                                NaN
1        M3A        North York                          Parkwoods
2        M4A        North York                   Victoria Village
3        M5A  Downtown Toronto         Regent Park / Harbourfront
4        M6A        North York  Lawrence Manor / Lawrence Heights

In [19]:
#delete not assigned 
df = df[df["Borough"] != "Not assigned"].reset_index(drop=True)

df.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park / Harbourfront
3        M6A        North York             Lawrence Manor / Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [21]:
# group neighborhoods in the same borough
df_group = df.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
df_group.head()

  PostalCode      Borough                              Neighborhood
0        M1B  Scarborough                           Malvern / Rouge
1        M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2        M1E  Scarborough       Guildwood / Morningside / West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

In [23]:
# check Neighborhood="Not assigned", make the value the same as Borough
df_group[df_group["Neighborhood"] == "Not assigned"]

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [24]:
df_group.shape

(103, 3)